@import-normalize; /* bring in normalize.css styles */

:root {
  --color-white: #fff;
  --black-color: #000;
  --main-color: rgba(0, 109, 136, 0.74);
  --secondary-color: #8a8b8e;
  --box-shadow: rgba(0, 109, 136, 0.308);
  --background-color: rgb(220, 252, 228);
  --background-color-second: rgb(195, 247, 208);
}

body {
  margin: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
